@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
* {
  font-family: 'Prompt', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
